@charset "utf-8";


/* ============= 全て共通 ============= */
html, body {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    background: #ffffff;
    width: 100%;
    height: 100%;
}
body, div, p, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}
ul, li {
    margin: 0;
    padding: 0;
}

/* ============= header ============= */
.header-inner {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background: #ffffff;
}
.header-logo {
    margin-right: auto;
    padding-left: 27px;
    padding-top: 7px;
}
.header-logo img {
    width: 72px;
    height: auto;
    margin: 0;
}
.header-nav {
    display: none;
}
.header-menu {
    padding-top: 10px;
}
.header-menu ul {
    display: flex;
}
.header-menu li {
    padding: 0 15px;
}
.header-menu img {
    width: 20px;
    height: 20px;
}

/* レスポンシブ　（タブレット以上） */
@media screen and (min-width: 768px) {
    .header-menu {
        padding-top: 18px;
    }
    .header-menu li{
        padding: 0px 18px;
    }
}

/* レスポンシブ　（デスクトップ） */
@media screen and (min-width: 1180px) {
    .header-nav {
        display: flex;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        margin-right: 15px;
    }
    .navigation > li > a {
        color: #000;
        font-size: 13.5px;
        font-weight: 700;
        margin-right:15px;
        padding-bottom: 20px;
    }
    .sub-nav {
        display: none;
    }
    .navigation a:hover {
        color: #0c419a;
        border-bottom: solid 2px #0c419a;

    }
    .navigatin > li > a:hover {
        border-bottom: solid 2px #0c419a;
    }
}

