@charset "utf-8";


/* ============= 全て共通 ============= */
html, body {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    background: #ffffff;
    width: 100%;
    height: 100%;
}
body, div, p, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}
ul, li {
    margin: 0;
    padding: 0;
}

/* ============= header ============= */
.header-inner {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background: #ffffff;
}
.header-logo {
    margin-right: auto;
    padding-left: 27px;
    padding-top: 7px;
}
.header-logo img {
    width: 72px;
    height: auto;
    margin: 0;
}
.header-nav {
    display: none;
}
.header-menu {
    padding-top: 10px;
}
.header-menu ul {
    display: flex;
}
.header-menu li {
    padding: 0 15px;
}
.header-menu img {
    width: 20px;
    height: 20px;
}

/* レスポンシブ　（タブレット以上） */
@media screen and (min-width: 768px) {
    .header-menu {
        padding-top: 18px;
    }
    .header-menu li{
        padding: 0px 18px;
    }
}

/* レスポンシブ　（デスクトップ） */
@media screen and (min-width: 1180px) {
    .header-nav {
        display: flex;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        margin-right: 15px;
    }
    .navigation > li > a {
        color: #000;
        font-size: 13.5px;
        font-weight: 700;
        margin-right:15px;
        padding-bottom: 20px;
    }
    .sub-nav {
        display: none;
    }
    .navigation a:hover {
        color: #0c419a;
        border-bottom: solid 2px #0c419a;

    }
    .navigatin > li > a:hover {
        border-bottom: solid 2px #0c419a;
    }
}

/* パンくずリスト */
.breadcrumb {
    color: #999;
    font-size: 12px;
}
.breadcrumb ol {
    padding: 0;
    margin: 0 0 0 5%;
}
.breadcrumb li {
    display: inline-block;
    margin-top: 60px;
    padding: 0;
}
.breadcrumb li::after {
    content: ">";
    color: #000;
}
.breadcrumb li:last-child::after {
    content: none;
}
.breadcrumb a {
    text-decoration: none;
    color: #999;
    padding: 0 0.1rem;
}

/* ============= main ============= */

/* mein-visual */
.main-visual {
    background: url(../images/keyvisual.jpg) center;
    background-size: cover;
    height: 200px;
    margin-top: 20px;
}
.main-visual p {
    display: none;
}
.main-visual h1 {
    color: #ffffff;
    font-size: 18px;
    padding-left: 1rem;
    padding-top: 2rem;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .main-visual {
        height: 250px;
    }
    .key-words {
        max-width: 1000px;
        margin: 0 auto;
    }
    .main-visual p {
        display: block;
        font-size: 20px;
        color: #ffffff;
        padding-top: 2rem;
    }
    .main-visual h1 {
        font-size: 27px;
        padding-left: 0;
        padding-top: 1.5rem;
    }
}

/* share icon */
.share-area {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 11px;
    color: #666;
    font-weight: 700;
}
.share-area ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.share-area img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

@media screen and (min-width: 768px) {
    .share-area {
        margin: 35px auto;
        max-width: 800px;
    }
    .share-area ul {
        align-items: center;
    }
    .share-area img {
        width: 25px;
        height: 25px;
    }
    .share-area li {
        margin: 0 5px;
    }
}

/* mein area*/
.main {
    margin: 10px auto;
    line-height: 30px;
    max-width: 800px;
}
.main h2 {
    margin-top: 40px;
    font-size: 18px;
    padding: 0 0 0 30px;
    background: url(../images/title-mark.png) no-repeat;
    background-size: 25px 27px;
}
.main p {
    padding: 10px;
}
.pdf-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 65px;
    padding-top: 8px;
    margin: 25px auto;
    background-color: #045CAC;
    text-align: center;
    line-height: 15px;
}
.pdf-link a {
    display: block;
    color: #ffffff;
}
.pdf-link:hover {
    opacity: 0.8;
}
.pdf-link a::before {
    content: ">";
}
.pdf-link img {
    width: 17px;
    height: 17px;
    padding-left: 1em;
    padding-top: 0px;
}
.next-page {
    margin-top: 50px;
    margin-bottom: 100px;
}
.next-page li:first-child {
    float: left;
}
.next-page li:last-child {
    float: right;
}
.next-page a {
    color: #045CAC;
    padding: 0 5px;
}
.next-page a:hover {
    text-decoration: underline;
}
.strengths {
    box-sizing: border-box;
    padding: 20px;
    margin: 15px auto;
    background: #DFEDF8;
    width: 95%;
    height: auto;
}
.strengths h3 {
    font-size: 16px;
}
.strengths li {
    padding: 10px;
    height: 28px;
    margin: 10px auto;
    background: url(../images/chevronRight-icon.svg) no-repeat left 10px top 18px;
    background-size: 5px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    text-align: center;
}
.strengths a {
    display: block;
    font-size: 15px;
    color: #0c419a;
    padding: 0 15px;
}
.strengths li:hover {
    background-color: #F4F4F4;
}
@media screen and (min-width: 768px) {
    .main h2 {
        font-size: 22px;
    }
    .strengths {
        width: 100%;
    }
    .strengths ul {
        display: flex;
        flex-wrap: wrap;
    }
    .strengths li {
        width: 210px;
        height: auto;
    }
    .strengths li:nth-child(1) {
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        background: url(../images/chevronRight-icon.svg) no-repeat left 10px top 28px;
        background-size: 5px;
        background-color: #ffffff;
    }
    .strengths li:nth-child(2) {
        background: url(../images/chevronRight-icon.svg) no-repeat left 10px top 28px;
        background-size: 5px;
        background-color: #ffffff;
        padding-top: 20px;
    }
    .strengths li:nth-child(3) {
        background: url(../images/chevronRight-icon.svg) no-repeat left 10px top 28px;
        background-size: 5px;
        background-color: #ffffff;
        padding-top: 20px;
    }
    .strengths li:hover {
        background-color: #F4F4F4;
    }
}